# Q1  
홍길동의 과목별 점수는 다음과 같다. 평균 점수는?  

|과목|점수|
|---|---|
|국어|80|
|영어|75|
|수학|55|

In [1]:
(80 + 75 + 55)/3

70.0

# Q2  
자연수 13이 짝수? 홀수? 판별할 수 있는 방법

In [4]:
13%2

1

2로 나누어서 나머지가 1이므로 홀수

# Q3  
홍길동의 주민등록번호는 881120-1068234이다.  
연월일(YYYYMMDD)와 그 뒤의 숫자 부분으로 나누어 출력

In [7]:
pin="881120-1068234"
yyyymmdd=pin[:6]
yyyymmdd

'881120'

In [9]:
num=pin[7:]
num

'1068234'

# Q4   
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.  
성별을 나타내는 숫자 출력

In [13]:
pin[7]

'1'

1이므로 남자

# Q5  
다음과 같은 문자열 a:b:c:d가 있다.  
문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력

In [14]:
a='a:b:c:d'
b=a.replace(":","#")
b

'a#b#c#d'

# Q6  
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들기

In [12]:
a=[1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

# Q7  
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력

In [15]:
a=['Life', 'is', 'too', 'short']
" ".join(a)

'Life is too short'

# Q8  
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력

In [16]:
a=(1,2,3)
a + (4,)

(1, 2, 3, 4)

# Q9  
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명 
`a['name'] = 'python'`  
`a[('a',)] = 'python'`  
`a[[1]] = 'python'`  
`a[250] = 'python'`

3번 딕셔너리의 키로는 변하는 값을 사용할 수 없기 때문

# Q10  
딕셔너리 a에서 'B'에 해당되는 값을 추출

In [3]:
a = {'A':90, 'B':80, 'C':70} 
a.pop('B')

80

# Q11  
a 리스트에서 중복 숫자를 제거

In [5]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
list(set(a))

[1, 2, 3, 4, 5]

# Q12  
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.   
다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?  
이런 결과가 오는 이유에 대해 설명  

`>>> a = b = [1, 2, 3]`  
`>>> a[1] = 4`  
`>>> print(b)`

[1,4,3]이 출력, a와b는 동일한 [1,2,3]이라는 리스트였기 때문